<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.asus.UX434F</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>UX434F</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Built-in FaceTime HD Camera Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Interface Name</key>
				<string>FaceTime HD Camera (Built-in)</string>
				<key>USBString</key>
				<string>FaceTime HD Camera (Built-in)</string>
				<key>bcdDevice</key>
				<integer>6498</integer>
				<key>idProduct</key>
				<integer>34057</integer>
				<key>idVendor</key>
				<integer>1452</integer>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>9236</integer>
			<key>idVendor</key>
			<integer>1242</integer>
		</dict>
		<key>IntelMobile-RAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IONVMeFamily</string>
			<key>Chipset Name</key>
			<string>Mobile RAID Controller</string>
			<key>IOClass</key>
			<string>IONVMeController</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,282a</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>com_apple_iokit_data_set_management</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAHCIBlockStorage</string>
			<key>Force Data Set Management</key>
			<true/>
			<key>IOClass</key>
			<string>AppleAHCIDiskDriver</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOAHCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
